[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/resutoor
[access "refs/for/refs/*"]
	read = group user/resutoor
	push = group user/resutoor
	label-Code-Review = -2..+2 group user/resutoor
	label-Verified = -1..+1 group user/resutoor
	rebase = group user/resutoor
	removeReviewer = group user/resutoor
	submit = group user/resutoor
[access "refs/heads/*"]
	read = group user/resutoor
	create = group user/resutoor
	push = +force group user/resutoor
	pushMerge = group user/resutoor
[access "refs/tags/*"]
	push = +force group user/resutoor
	pushTag = group user/resutoor
	pushSignedTag = group user/resutoor
